@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #ffff; 
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container {
    margin: 0px auto;
}



header .top-header{
    padding: 15px 100px 15px 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 

    position: relative;

}

header .logo {
    width: auto;
    height: 100px;
    
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}
header .logo a {
    display: flex;
    align-items: center;
    height: 100px;
}

header .logo img {
    min-width: 100%;
    height: 50px;

}

header .menu {
    display: flex;
    align-items: center;
}

header .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .phone-ico {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

header .phone-number {
    font-size: 20px;
    font-weight: 300;
}
header .phone-mail {
    font-size: 20px;
    font-weight: 300;
}

header ul.nav {

    list-style: none;
    margin-right: 30px;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 300ms ease;
    font-size: 20px;
    font-weight: 600;
}

header ul.nav li:hover {
    opacity: 50%;
}


header .presentation {
    margin: 0 100px 50px 100px;
    background: url('./img/bg_header.png');
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbb;

    position: relative;
}

header .presentation::after {
    content: 'Профессиональное световое и звуковое оборудование';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #ffff
}

header .presentation::before {
    content: 'Решим вашу задачу за 24 часа';
    position: absolute;
    top: 300px;
    left: 50px;
    width: 300px;
    font-size: 24px;
    font-weight: 300;
    color: #d1d1d1
}

.description {
    margin-bottom: 90px;
    padding: 100px 20% 0px 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description h2 {
    font-weight: 300;
    font-size: 46px;
}

.description a {
    margin-top: 20px;
    font-weight: 300;
    font-size: 24px;
}


.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.about-us-photo {
    width: 50%;
    margin: 35px;
    height: 560px;
    background: url('./img/photo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-us-text{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;

}

.about-us-text h2 {
    font-weight: 300;
    font-size: 48px;
}

.about-us-text a {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    margin-top: 30px;
}


@media screen and (max-width: 980px){
    .about-us {
        flex-direction: column;
        align-items: center;
    }
    .about-us-photo {
        width: 90%;
        height: 460px;
    }
    .about-us-text {
        width: 80%;
        padding: 25px

    }
}

.product {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 980px){
    .product {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.product-text {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product-photo {
    width: 50%;
    height: 80vh;
    background: url('./img/product.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.product-text h2 {
    font-weight: 600;
    font-size: 36px;
    margin-top: 20px
}
.product-text a {
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    margin-top: 30px;
}

@media screen and (max-width: 980px){
    .product-photo {
        width: 100%;
        height: 50vh;
    }
    .product-text {
        width: 80%;
    }
}

.features {
    padding-top: 50px;
}

.features-title {
    padding-top: 30px;
}

.features-title h2 {
    font-weight: 600;
    font-size: 42px;
}

.features-title p {
    font-weight: 300;
    font-size: 24px;
    width: 50%;
    margin: 25px auto;
}

.features-title h2, 
.features-title p {
    text-align: center;
}

.features-sharp {
    
}

.features-item {
    margin: 0px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 760px;
    padding: 20px;
    
}
.features-item-ico svg {
    width: 60px;
    height: 100%;
    color: rgb(48, 90, 246);

}
.features-item-ico {

}
.features-item-title {
    display: flex;
    flex-direction: column;

    margin-left: 30px;
}
.features-item-title h2 {
    font-weight: 300;
    font-size: 26px;
}
.features-item-title p {
    font-weight: 300;
    font-size: 20px;
    margin-top: 15px;
}


.project {
    padding-top: 100px;
}

.project h2 {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 52px;

}

.project-sharp {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project-item {
    
}
.project-item-1 {
    background: url('./img/project/1.jpg');
}
.project-item-2 {
    background: url('./img/project/2.jpg');
}
.project-item-3 {
    background: url('./img/project/3.jpg');
}
.project-item-4 {
    background: url('./img/project/4.jpg');
}
.project-item-5 {
    background: url('./img/project/5.jpg');
}
.project-item-6 {
    background: url('./img/project/6.jpg');
}
.project-item-1,
.project-item-2,
.project-item-3,
.project-item-4,
.project-item-5,
.project-item-6 {
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 360px;
    margin: 15px 10px;
}



footer {
    text-align: center;
    width: 50%;
    margin: 100px auto;
}
footer h2 {
    font-weight: 300;
    font-size: 52px;
    display: block;
}
footer p {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px
}
.footer-contact {
    display: block;
    color: #FF8562;
    margin: 20px 10px;
    font-weight: 300;
    font-size: 32px;
}
.footer-ico {
    display: block;
}

.footer-ico svg {
    width: 52px;
    height: 100%;
    margin: 20px 10px;
}

@media screen and (max-width: 760px){
    footer {
        width: 85%;
    }
}